



/* fixed background images */
.home {
  background: url(../images/vision.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/vision.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/vision.png', sizingMethod='scale')";
}

.challenge1 {
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/billion_device.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/billion_device.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/billion_device.png', sizingMethod='scale')";
}

.challenge2 {
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/citizen.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/billion_device.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/billion_device.png', sizingMethod='scale')";
}

.challenge3 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/circulatory.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution1 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/solution-power.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution2 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/solution-comunication.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution3 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/solution-management.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution4 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/citizen_sensing.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution5 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/citizen-sensing2.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution6 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/solution-circulatory1.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution7 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/solution-circulatory2.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.team { 
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left:2px;
  background: url(../images/team.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/sunset_bkg_scaffold.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#video { 
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left:2px;
  background: url(../images/team.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/*end of fixed background images*/



div.row{
  padding-bottom: 40px;
}

